* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  .logo a {
    display: flex;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: red;
    background-color:  rgb(61, 230, 218);
  }
  .header {
    display: inline-block;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 75%;
    background-color: rgb(61, 230, 218);
  }
  .header ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 8px;
    color: aqua;
  }
